node_red_vacuum.txt
[{"id":"37bf7457.afc0cc","type":"tab","label":"Пылесос","disabled":false,"info":""},{"id":"fe703fa9.34155","type":"trigger-state","z":"37bf7457.afc0cc","name":"Возврат после уборки","server":"b78d89fe.dd1ab8","entityid":"vacuum.xiaomi_vacuum_cleaner","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"c8zd30vpzdd","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"cleaning"},{"id":"xt1t7bzs6xn","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"returning"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":240,"wires":[["e9f8f09d.1f0ae"],[]]},{"id":"e9f8f09d.1f0ae","type":"ha-wait-until","z":"37bf7457.afc0cc","name":"","server":"b78d89fe.dd1ab8","outputs":2,"entityId":"vacuum.xiaomi_vacuum_cleaner","property":"state","comparator":"is","value":"docked","valueType":"str","timeout":"20","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":320,"y":240,"wires":[["c3509f76.c4eb6"],["d2f09b42.21b758"]]},{"id":"74393b96.9a6764","type":"api-call-service","z":"37bf7457.afc0cc","name":"Сообщение на телефон об окончании уборки","server":"b78d89fe.dd1ab8","version":1,"service_domain":"notify","service":"android","entityId":"","data":"{\"title\":\"Событие дома\",\"message\":\"Пылесос закончил уборку\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":200,"wires":[[]]},{"id":"c3509f76.c4eb6","type":"api-call-service","z":"37bf7457.afc0cc","name":"Мощность на Тихо","server":"b78d89fe.dd1ab8","version":1,"service_domain":"vacuum","service":"set_fan_speed","entityId":"vacuum.xiaomi_vacuum_cleaner","data":"{\"fan_speed\":\"Quiet\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":200,"wires":[["74393b96.9a6764"]]},{"id":"d53fa0d1.ecbfc","type":"inject","z":"37bf7457.afc0cc","name":"Ежедневная уборка в 8.00","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":0.1,"x":140,"y":480,"wires":[["a81f188a.06d3e8"]]},{"id":"5d40164.da861e8","type":"api-call-service","z":"37bf7457.afc0cc","name":"Сообщение на телефон с запросом действия","server":"b78d89fe.dd1ab8","version":1,"service_domain":"notify","service":"android","entityId":"","data":"{\"title\":\"Событие дома\",\"message\":\"Запустить уборку?\",\"data\":{\"actions\":[{\"action\":\"no_clean\",\"title\":\"Нет\"},{\"action\":\"start_clean\",\"title\":\"Запуск\"},{\"action\":\"wait_away\",\"title\":\"Ждать когда уйду\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":340,"wires":[[]]},{"id":"32887be5.b59bf4","type":"server-events","z":"37bf7457.afc0cc","name":"Команда с телефона","server":"b78d89fe.dd1ab8","event_type":"fcm_android_notifications.clicked","x":120,"y":680,"wires":[["a5d8a292.c541c"]]},{"id":"49d5be21.009ca","type":"switch","z":"37bf7457.afc0cc","name":"Команда с телефона Начать уборку?","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"start_clean","vt":"str"},{"t":"eq","v":"wait_away","vt":"str"},{"t":"eq","v":"no_clean","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":610,"y":680,"wires":[["cf84ad4a.fc175"],["1c095a5.90216a6"],["6ec03e02.e1ad9"]]},{"id":"a5d8a292.c541c","type":"json","z":"37bf7457.afc0cc","name":"","property":"payload","action":"obj","pretty":true,"x":330,"y":680,"wires":[["49d5be21.009ca"]]},{"id":"cf84ad4a.fc175","type":"api-call-service","z":"37bf7457.afc0cc","name":"Мощность на Максимум","server":"b78d89fe.dd1ab8","version":"1","service_domain":"vacuum","service":"set_fan_speed","entityId":"vacuum.xiaomi_vacuum_cleaner","data":"{\"fan_speed\":\"Max\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1570,"y":560,"wires":[["6b53f216.c653cc"]]},{"id":"6b53f216.c653cc","type":"api-call-service","z":"37bf7457.afc0cc","name":"Запуск пылесоса","server":"b78d89fe.dd1ab8","version":"1","service_domain":"vacuum","service":"start","entityId":"vacuum.xiaomi_vacuum_cleaner","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1820,"y":560,"wires":[[]]},{"id":"27b8d904.7e3316","type":"ha-wait-until","z":"37bf7457.afc0cc","name":"Все ушли","server":"b78d89fe.dd1ab8","outputs":2,"entityId":"switch.arming_switch","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"5","timeoutUnits":"hours","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1340,"y":680,"wires":[["cf84ad4a.fc175"],[]]},{"id":"a81f188a.06d3e8","type":"api-current-state","z":"37bf7457.afc0cc","name":"Уборка по расписанию?","server":"b78d89fe.dd1ab8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.vacuum_schedule","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":480,"wires":[["6862a1a8.49226"],[]]},{"id":"1c095a5.90216a6","type":"api-call-service","z":"37bf7457.afc0cc","name":"Инфо на телефон выбрана команда Ждать ухода","server":"b78d89fe.dd1ab8","version":1,"debugenabled":false,"service_domain":"notify","service":"android","entityId":"","data":"{\"title\":\"Событие дома\",\"message\":\"Выбрана команда Ждать ухода\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":680,"wires":[["27b8d904.7e3316"]]},{"id":"6ec03e02.e1ad9","type":"api-call-service","z":"37bf7457.afc0cc","name":"Инфо на телефон Отмена","server":"b78d89fe.dd1ab8","version":1,"service_domain":"notify","service":"android","entityId":"","data":"{\"title\":\"Событие дома\",\"message\":\"Выбрана команда Не убирать\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":760,"wires":[[]]},{"id":"10998e3e.0c7ba2","type":"ha-wait-until","z":"37bf7457.afc0cc","name":"Все ушли","server":"b78d89fe.dd1ab8","outputs":2,"entityId":"switch.arming_switch","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"5","timeoutUnits":"hours","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1060,"y":440,"wires":[["a4c4fbb.45f3408"],[]]},{"id":"6862a1a8.49226","type":"api-current-state","z":"37bf7457.afc0cc","name":"Снято с охраны?","server":"b78d89fe.dd1ab8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.arming_switch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":810,"y":480,"wires":[["10998e3e.0c7ba2"],["cf84ad4a.fc175"]]},{"id":"67d14293.b5c68c","type":"trigger-state","z":"37bf7457.afc0cc","name":"Начало уборки","server":"b78d89fe.dd1ab8","entityid":"vacuum.xiaomi_vacuum_cleaner","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"g35fd85463h","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"cleaning"},{"id":"kp7px5eoxh","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"docked"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":100,"y":120,"wires":[["cbafc063.34fe"],[]]},{"id":"cbafc063.34fe","type":"api-call-service","z":"37bf7457.afc0cc","name":"Сообщение на телефон о начале уборки","server":"b78d89fe.dd1ab8","version":1,"service_domain":"notify","service":"android","entityId":"","data":"{\"title\":\"Событие дома\",\"message\":\"Пылесос приступил к уборке\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":120,"wires":[[]]},{"id":"d2f09b42.21b758","type":"api-call-service","z":"37bf7457.afc0cc","name":"Инфо на телефон timeout парковки пылесоса","server":"b78d89fe.dd1ab8","version":1,"debugenabled":false,"service_domain":"notify","service":"android","entityId":"","data":"{\"title\":\"Событие дома\",\"message\":\"Пылесос не вернулся на базу после уборки\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":280,"wires":[[]]},{"id":"a4c4fbb.45f3408","type":"api-current-state","z":"37bf7457.afc0cc","name":"Уборка по расписанию?","server":"b78d89fe.dd1ab8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.vacuum_schedule","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1270,"y":440,"wires":[["cf84ad4a.fc175"],[]]},{"id":"b78d89fe.dd1ab8","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true}]
